@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  margin: 0;
  font-family: sans-serif;
  background: #000;
  color: #fff;
}

body::-webkit-scrollbar {
  display: none;
}

header {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    background-color: var(--primario);
    padding: 12px;
    justify-content: space-between;
    gap: 12px;
    padding: 0;
    padding-top: 12px;
}

.header-content {
    color: white;
    display: flex;
    font-size: 0.8em;
    font-family: 'Inter';
    gap: 12px;
    align-items: center;
    padding: 0 24px;
}

header i {
    font-size: 24px;
}

.barra-herramientas {
    display: flex;
    align-items: center;
    padding: 0;
    align-self: end;
    background-color: var(--secundario);
    width: 100%;
    justify-content: end;
}

.barra-herramientas button {
    font-size: 18px;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    border: none;
    height: 36px;
    width: 36px;
    align-self: end;
}

.barra-herramientas i {
    font-size: 18px;
}

input {
    display: block;
}

.iconos .icon {
    font-size: 20px;
    margin-left: 10px;
}

.carrito {
    background-color: white;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.carrito-productos {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 226px);
    color: white;
    gap: 12px;
    background-color: #fff;
    justify-content: center;
}

.carrito h2 {
    font-size: 18px;
    margin-bottom: 12px;
}

.lista-productos {
    display: flex;
    flex-direction: column;
}

.producto {
    background: var(--secundario);
    color: #000;
    display: flex;
    gap: 6px;
    align-items: center !important;
    margin-bottom: 12px;
    padding: 6px 12px;
}

img {
    height: 72px;
    background-color: white;
}

.detalle-producto {
    display: flex;
    align-items: center;
    gap: 12px;
    color: white;
    width:100%;
    justify-content: space-between;
}

.columna {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    flex: 1;
}

.producto input[type="checkbox"] {
    align-self: start;
}

.detalle-producto img {
  width: 84px;
  height: 84px;
  object-fit: cover;
  border-radius: 5px;
}

.info {
    display: flex;
    justify-content: space-between;
    font-family: 'Inter';
    flex: 1;
    padding-bottom: 6px;
}

.precio {
  font-weight: bold;
}

.nombre {
    font-weight: light;
}

.acciones {
  display: flex;
  align-items: center;
  gap: 5px;
align-self: end;                                                                                           

}


.acciones div {
    display:flex;
}

.acciones input {
  background: var(--primario);
  color: white;
  font-weight: bold;
    display: block;
    height: 36px;
width: 60px;
    border: none;
    border-raius: none;
    padding: 0 6px;
    font-size: 18px;
    font-family: 'Inter';
}

.agregar {
    border-radius: 6px 0 0 6px !important;
}

.quitar {
    border-radius: 0 6px 6px 0 !important;
}

.comprar {
    background: var(--primario);
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px 24px;
    align-items: end;
}

.comprar div {
    display: flex;
}

.btn {
  background: var(--primario);
    width: 36px;
    height: 36px;
    border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 18px;
    color: white;
}

.btn.pagar {
    background-color: var(--impacto);
}

.btn-comprar {
  width: 100%;
  background: var(--impacto);
  color: white;
  padding: 12px;
  border: none;
  font-weight: bold;
  border-radius: 20px;
  font-size: 16px;
}

.barrita {
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--impacto);
}

.seleccion {
    display: flex;
    gap: 12px;
}

.facturacion {
    display: none;
}

/* FAVORITOS */

.favoritos {    
    background: var(--primario);
 2 carrito.html  2 e/carrito.css                                                                                           X
    padding-bottom: 24px;
}

.favoritos h2 {
    padding: 12px 24px;
}

.lista-favoritos {
    display: flex;
    gap: 24px;
    padding: 0 24px;
}

.favorito {
    background: white;
    color: black;
    border-radius: 6px;
    flex: 1;
    text-align: center;
    aspect-ratio: 1.63;
    box-shadow: #aaa2 0 0 20px;
    max-width: 200px;
}

.img-placeholder {
    background: #ccc;
    width: 100%;
    aspect-ratio: 1;
    border-bottom: #aaa;
    border-radius: 6px 6px 0 0;
}

.descripcion {
    display: flex;
    flex-direction: column;
    height: 75%;
    font-family: 'Inter';
    text-align: left;
    padding: 12px;
}

.descripcion p {
    font-weight: bold;
}

.descripcion small {
    font-size: 12px;
    font-weight: light;
    line-height: 0.8em;
}

@media (min-width: 700px) {
    header {
        padding: 12px 60px;
        flex-direction: row;
        margin-top: 80px;
        gap: 0;
    }

    .carrito-productos {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 12px;
        align-content: start;
        padding-bottom: 12px;
        padding-top: 12px;
        height: calc(100vh - 216px);
    }

    .header-content {
        padding: 0;
    }

    .comprar {
        align-items: end;
    }

    .btn-comprar {
        margin-inline: 32px;
        width: 200px;
        height: 43px;
        background-color: transparent;
    }

    .barra-herramientas {
        background-color: var(--secundario);
        border-radius: 6px;
        width: 36px;
    }

    .lista-productos {
        width: 50vw;
    }

    .producto {
        padding: 12px 60px;
        box-sizing: border-box;
        height: 108px;
        align-items: start;
        border-radius: 6px;
    }

    .facturacion {
        background-color: var(--secundario);
        width: 22vw;
        border-radius: 6px;
        padding: 12px 24px;
        font-size: 18px;
        font-family: 'Inter';
        line-height: 1.5em;
        height: fit-content;
        display: flow-root;
    }

    .facturacion .factura-titulo {
        margin-bottom: 12px;
        font-weight: 600;
    }

    .campo {
        display: flex;
        justify-content: space-between;
        font-weight: 200;
    }

    .facturacion button {
        width: 100%;
        padding: 12px 24px;
        font-size: 18px;
        font-family: "Inter";
        border-radius: 6px;
        border: 0;
        background-color: var(--impacto);
        font-weight: 600;
        color: white;
    }

    .campo.total {
        font-weight: 600 !important;
        margin: 12px 0;
    }

    .lista-favoritos {
        padding: 0 60px;
    }

    .favoritos h2 {
        padding: 12px 60px;
    }

    .btn-comprar {
        background-color: transparent;
        color: transparent;
    }
}
