*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primario: #261715;
    --secundario: #594242;
    --impacto: #4BAA2B;
    --letra-clara: #FCF6F5;
    
    --margen-lateral: ;
    
}


@media computador {
    :root {
        --margen-lateral: ;
    }
}
