footer{
    margin-top: 24px;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--primario);
    height: auto;
    width: 100vw;

    padding-top: 40px;
    color: #fff;
}
.footer-contenido{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-contenido h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-contenido p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}
.sociales{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.sociales li{
    margin: 0 10px;
}
.sociales a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;

    border-radius: 50%;

}
.sociales a i{
    font-size: 1.1rem;
    width: 20px;


    transition: color .4s ease;

}
.sociales a:hover i{
    transform: scale(1.1);
    color: var(--impacto);
}

.footer-bajo{
    background: #000;
    width: 100vw;
    padding: 20px;
    padding-bottom: 40px;
    text-align: center;
}
.footer-bajo p{
float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bajo p a{
  color:var(--impacto);
  font-size: 16px;
  text-decoration: none;
}
.footer-bajo span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
.footer-menu{
  float: right;

}
.footer-menu ul{
  display: flex;
}
.footer-menu ul li{
padding-right: 10px;
display: block;
}
.footer-menu ul li a{
  color: #cfd2d6;
  text-decoration: none;
}
.footer-menu ul li a:hover{
  color: var(--impacto);
}

@media (max-width:500px) {
.footer-bajo{
    height: 12vh;
}
.footer-menu ul{
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
}
}